* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

header {
  height: 100px;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 4rem;
  text-align: center;
}
.btn {
  background-color: #dadce0;
  cursor: pointer;

  /* margin */
  height: 50px;
  width: 100px;
  border-radius: 4px;
  border: 1px solid #dadce0;
}

.btn-number {
  background-color: #fff;
}

.btn-equal {
  background-color: #4285f4;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.input {
  height: 60px;
  width: 720px;
}

.ouput {
}
