.btn {
  background-color: #dadce0;
  cursor: pointer;

  /* margin */
  height: 50px;
  width: 100px;
  border-radius: 4px;
  border: 1px solid #dadce0;
}

.btn-number {
  background-color: #fff;
}

.btn-equal {
  background-color: #4285f4;
}

.input {
  height: 60px;
  width: 720px;
}
